:root {
    --deep-pink: #ff1493;
    --orange: #ffc402;
    --yellow: #ffff00;
    --gray: #a9a9a9;
}
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: "Microsoft Sans Serif", sans-serif;
    font-weight: 500;
    font-style: normal;
    min-width: 400px;
    background: var(--gray);
}
.container {
    max-width: 660px;
    margin: 0 auto;
    padding: 0 14px;
}
.todo {
    padding: 40px 14px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todo__title {
    font-size: 78px;
    letter-spacing: 4px;
    color: var(--deep-pink);
    text-shadow: 8px -8px 0 var(--orange), 16px -16px 0 var(--yellow);
    padding: 20px 0;
}